@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Friends"];
}

@model User

<div class="text-center">
    <h1 class="display-4">@Localizer["Friends"]</h1>
    <table class="listTable">
        <thead>
        <tr>
            <th>Uuid</th>
            <th>@Localizer["Login"]</th>
            <th>@Localizer["CreatedAt"]</th>
            <th>@Localizer["Delete"]</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var friend in Model.Friends)
        {
            <tr>
                <td>@friend.Uuid</td>
                <td>@friend.Login</td>
                <td>@friend.CreatedAt</td>
                <td>
                    <form asp-action="Del" asp-controller="Friends" method="post">
                        <input type="hidden" name="login" value="@friend.Login"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <h3>@Localizer["AddFriend"]</h3>
    <form method="get" asp-action="Add">
        <input type="text" name="login" required placeholder=@Localizer["FriendsLogin"]/>
        <button type="submit">Add</button>
    </form>

    <h3>@Localizer["ImportExport"]</h3>
    <form method="post" asp-action="Import" enctype="multipart/form-data">
        <input type="file" name="file" required/>
        <button type="submit">@Localizer["Import"]</button>
    </form>

    <a asp-action="Export">@Localizer["Export"]</a>
</div>